<div class="register-page">
        <div class="form">
          <form class="register-form">
                <h3>REGISTER</h3>
                <input type="text" [(ngModel)]="userName" placeholder="User name" name="username"/>
                <input type="password" [(ngModel)]="passWord" placeholder="Password" name="password"/>
                <input type="text" [(ngModel)]="emailId" placeholder="Email" name="email"/>
                <input type="text" [(ngModel)]="firstName" placeholder="First name" name ="firstname"/>
                <input type="text" [(ngModel)]="lastName" placeholder="Last name" name ="lastname"/>
                <input type="text" [(ngModel)]="mobileNo" placeholder="Mobile Number" name ="mobileno"/>
                <button (click)=register()>Register</button>
                <p class="message">Already registered? <a routerLink="/login">Sign In</a></p>
              </form>
              </div>
</div>