<div class="login-page"> 
        <div class="form">
          <form class="login-form">
            <h3>LOGIN</h3>
            <input type="text" [(ngModel)]="userName" name ="username" placeholder="username"/>
            <input type="password" [(ngModel)]="passWord" name="password" placeholder="password"/>
            <button (click)=login()>login</button>
            <p class="message">Not registered? <a routerLink="/register">Create an account</a></p>
          </form>
        </div>
      </div>